{% extends "base_generic.html" %}

{% block content %}
<h2>{{ post.author.username }}'s Post</h2>
<img src="{{ post.image.url }}" alt="Post image">
<p>{{ post.caption }}</p>
<p>Tags: {{ post.tags }}</p>

<p>Posted by {{ post.author.username }} at {{ post.created_at }}</p>

{% if user != post.author %}
  {% if user.following.filter(following=post.author).exists %}
    <form method="post" action="{% url 'follow_unfollow_user' post.author.username %}">
      {% csrf_token %}
      <button type="submit" class="button-unfollow">Unfollow</button>
    </form>
  {% else %}
    <form method="post" action="{% url 'follow_unfollow_user' post.author.username %}">
      {% csrf_token %}
      <button type="submit" class="button-follow">Follow</button>
    </form>
  {% endif %}
{% endif %}
{% endblock %}
