<!-- templates/posts/post_detail.html -->

{% extends 'base_generic.html' %}

{% block content %}
<div 
  <h2>{{ post.user.username }}'s Post</h2>
  <img class="post_detail" src="{{ post.image.url }}" alt="Post image">
  <p>{{ post.caption }}</p>
  <p>Tags: {{ post.tags }}</p>
  <p>Posted by {{ post.user.username }} at {{ post.created_at }}</p>

  {% if user != post.user %}
    <form method="post" action="{% url 'follow_unfollow_user' post.id %}">
      {% csrf_token %}
      {% if is_following %}
        <button type="submit" class="button-unfollow">Unfollow</button>
      {% else %}
        <button type="submit" class="button-follow">Follow</button>
      {% endif %}
    </form>
  {% endif %}
{% endblock %}
